



.tables {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  margin-bottom: 30px;
  color: white;
  height: 90vh;
}


.table-circle {

  margin-top: 75px;
  width: 120px;
  height: 120px;
  background-color:  #464848;
  
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 24px;
  transition: background-color 0.3s;
}

.table-circle:hover {
  background-color: #2a2b2b;
}